#ENV Variables
HAAPI_HOST=http://homeassistant:8123
HAAPI_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#Sensor Setup
#inside_home_temperature sensor
HAAPI_SENSOR_IN_HOME_TEMP=sensor.sensor_temperature

#outside_home_temperature sensor
HAAPI_SENSOR_OUT_HOME_TEMP=weather.forecast_home

#plex_watching prefix for lookup
HAAPI_PLEX_ENTITY_ID_LOOKUP=media_player.plex